Prog API via Python docs: https://ludwig-ai.github.io/ludwig-docs/api/LudwigModel/

# Install + Import

In [ ]:
from IPython.display import clear_output
!pip install ludwig
clear_output()
print('All Installed.')

In [34]:
from ludwig.api import LudwigModel
import pandas as pd

# Import dataset

In [71]:

#df = pd.read_csv("/content/TH_5K_2_COLUMNS_ONLY.csv")

# Old set (contains deupes!)
#df = pd.read_csv("https://raw.githubusercontent.com/CharlyWargnier/CSVHub/main/Tommy-Macys-encoding-ISO-8859-1/TH_5K_2_COLUMNS_ONLY.csv")

# New sets  Old set (contains deupes!)
df = pd.read_csv("https://raw.githubusercontent.com/CharlyWargnier/CSVHub/main/CK-Tommy-All/Tommy-Macys-encoding-ISO-8859-1/For%20Ludwig/TH_tagged_deduped_dec_2020.csv")

In [72]:
df.info()
#df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4367 entries, 0 to 4366
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   doc_text  4367 non-null   object
 1   look-up   4367 non-null   object
dtypes: object(2)
memory usage: 68.4+ KB

In [73]:
#df.info()
df.head()

               doc_text      look-up
0       hilfiger wallet  Accessories
1                Wallet  Accessories
2  baby boy accessories  Accessories
3                   tie  Accessories
4          silk scarves  Accessories

# Define input_features

In [78]:
input_features =  [{'name': 'doc_text', 'type': 'text'}]
output_features = [{'name': 'look-up', 'type': 'category'}]

In [79]:
config = {
    'input_features': input_features,
    'output_features': output_features,
    'combiner': {'type': 'concat', 'fc_size': 14},
    'training': {'epochs': 2}
}

# Initialise Model

In [80]:
model = LudwigModel(config)

# Train a model

In [81]:
train_stats, _, _ = model.train(dataset=df)

# Eval on DF

In [47]:
eval_stats, _, _ = model.evaluate(dataset=df)

In [48]:
eval_stats

{'class': {'accuracy': 0.83813524, 'hits_at_k': 0.93517405, 'loss': 0.7149022},
 'combined': {'loss': 0.7394655}}

# Predict on new dataset

In [82]:
# Older set, not deduped
#df2 = pd.read_csv("https://raw.githubusercontent.com/CharlyWargnier/CSVHub/main/Tommy-Macys-encoding-ISO-8859-1/TH_Control.csv")

# New set, deduped
df2 = pd.read_csv("https://raw.githubusercontent.com/CharlyWargnier/CSVHub/main/CK-Tommy-All/Tommy-Macys-encoding-ISO-8859-1/For%20Ludwig/TH_NOT_tagged_deduped_dec_2020.csv")

df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3607 entries, 0 to 3606
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   doc_text  3607 non-null   object
dtypes: object(1)
memory usage: 28.3+ KB

In [83]:
df2.head()

                                doc_text
0                              silk ties
1                  business casual women
2                         platform pumps
3  Tommy Hilfiger jacket without sleeves
4                    boys leather jacket

In [84]:
predictions, _ = model.predict(dataset=df2)
#train_stats, _, _ = model.train(dataset=df)

In [ ]:
df2.head(3)

                doc_text
0              silk ties
1  business casual women
2         platform pumps

In [ ]:
df2NewIndex = df2.reset_index()
df2NewIndex

      index                               doc_text
0         0                              silk ties
1         1                  business casual women
2         2                         platform pumps
3         3  Tommy Hilfiger jacket without sleeves
4         4                    boys leather jacket
...     ...                                    ...
5098   5098                                   pant
5099   5099                            bikini girl
5100   5100                             men briefs
5101   5101                            men's socks
5102   5102                           woman online

[5103 rows x 2 columns]

# Predict on new dataset

In [85]:
predictions

     look-up_predictions  ...  look-up_probability
0            Accessories  ...             0.560594
1                Clothes  ...             0.225288
2                  Shoes  ...             0.766051
3        Coats & Jackets  ...             0.942469
4        Coats & Jackets  ...             0.978767
...                  ...  ...                  ...
3602               Shoes  ...             0.949511
3603             Clothes  ...             0.184640
3604         Accessories  ...             0.148953
3605           Underwear  ...             0.220876
3606             Clothes  ...             0.111010

[3607 rows x 25 columns]

In [86]:
predictions.to_csv("predictions.csv", index=False)

In [ ]:
predictionsNewIndex = predictions.reset_index()
predictionsNewIndex.head(3)

   index class_predictions  ...  class_probabilities_tops  class_probability
0      0       Accessories  ...                  0.000741           0.223043
1      1       Accessories  ...                  0.000643           0.220860
2      2             Shoes  ...                  0.000039           0.900638

[3 rows x 26 columns]

In [ ]:
dfMerge = df2NewIndex.merge(predictionsNewIndex, left_on='index', right_on='index')
dfMerge.head(5)

   index  ... class_probability
0      0  ...          0.223043
1      1  ...          0.220860
2      2  ...          0.900638
3      3  ...          0.998773
4      4  ...          0.999610

[5 rows x 27 columns]

In [ ]:
dfMerge.to_csv('export.csv')

In [ ]:
type(predictions)

In [ ]:
eval_stats, _, _ = model.evaluate(dataset=df)
eval_stats, _, _

In [ ]:
type(eval_stats)

In [ ]:
dfResults = pd.DataFrame.from_dict(eval_stats)
dfResults

#Parked data

In [ ]:
'''
#import streamlit as st
import subprocess


def run_command(args):
    """Run command, transfer stdout/stderr back into Streamlit and manage error"""
    st.info(f"Running '{' '.join(args)}'")
    result = subprocess.run(args, capture_output=True, text=True)
    try:
        result.check_returncode()
        st.info(result.stdout)
    except subprocess.CalledProcessError as e:
        st.error(result.stderr)
        raise e
'''